In [175]:
import pandas as pd

In [176]:
A = pd.read_csv('a.csv',sep=',')

In [177]:
B = pd.read_csv('b.csv', sep=',')

In [178]:
A.head()

  Organisation_Name  network_id  ...             device_name         device_type
0          EMEA-POS        6207  ...              AP01_fauly            Wireless
1          EMEA-POS        5006  ...                   AP-02              Switch
2          EMEA-POS        5006  ...                   AP-03  Security Appliance
3          EMEA-POS        8698  ...  TEl-AVIV_EINSTEIN_MR33            Wireless
4          EMEA-POS        8698  ...   TEL-AVIV-EINTEIN_MX65            Wireless

[5 rows x 5 columns]

In [179]:
B.head()

  device_type device_name                      network  inventory_state
0      Switch   UK_U40_MS       KLS_BROADGATE - switch           In use
1      Switch      B04-04  CASABLANCA-MOROCCO - switch           In use
2      Switch      B01-04  CASABLANCA-MOROCCO - switch           In use
3      Switch      B03-03  CASABLANCA-MOROCCO - switch           In use
4      Switch      B02-04  CASABLANCA-MOROCCO - switch           In use

In [180]:
A.columns

Index(['Organisation_Name', 'network_id', 'network_name', 'device_name',
       'device_type'],
      dtype='object')

In [181]:
B.columns

Index(['device_type', 'device_name', 'network', ' inventory_state'], dtype='object')

A-B

In [187]:
A[~A.device_type.isin(B.device_type)]

  Organisation_Name  network_id  ...        device_name         device_type
2          EMEA-POS        5006  ...              AP-03  Security Appliance
6          EMEA-POS        1189  ...  WARS_MOKOTOW_MR33  Security Appliance

[2 rows x 5 columns]

In [183]:
set(A['device_type']) - set(B['device_type'])

{'Security Appliance'}

B-A

In [188]:
B[~B.device_name.isin(A.device_name)]

   device_type  ...  inventory_state
1       Switch  ...           In use
2       Switch  ...           In use
3       Switch  ...           In use
4       Switch  ...           In use
6       Switch  ...           In use
7       Switch  ...           In use
9     Wireless  ...           Unused
10    Wireless  ...           Unused
11    Wireless  ...           Unused
12    Wireless  ...           Unused
13    Wireless  ...           Unused
14      Switch  ...           In use

[12 rows x 4 columns]

In [189]:
set(B['device_name']) - set(A['device_name'])

{'B01-04',
 'B02-04',
 'B03-03',
 'B04-04',
 'FR44AAP001P',
 'FR44AAP002P',
 'FR44AAP003P',
 'MA01VSAO104A-B03-04',
 'NO50AAP004P',
 'W01P',
 'W02P'}

New CSV with desired fields

In [190]:
a = {
    'Organisation_Name':A['Organisation_Name'],
     'network_name': A['network_name'],
     'device_name': A['device_name'],
     'device_type': A['device_type']
}

In [191]:
frame = pd.DataFrame(a)

In [192]:
frame

   Organisation_Name  ...         device_type
0           EMEA-POS  ...            Wireless
1           EMEA-POS  ...              Switch
2           EMEA-POS  ...  Security Appliance
3           EMEA-POS  ...            Wireless
4           EMEA-POS  ...            Wireless
5           EMEA-POS  ...            Wireless
6           EMEA-POS  ...  Security Appliance
7           EMEA-POS  ...              Switch
8           EMEA-POS  ...              Switch
9           EMEA-POS  ...              Switch
10          EMEA-POS  ...              Switch
11          EMEA-POS  ...            Wireless
12          EMEA-POS  ...            Wireless
13          EMEA-POS  ...            Wireless
14          EMEA-POS  ...              Switch
15          EMEA-POS  ...              Switch

[16 rows x 4 columns]

In [193]:
frame.to_csv('new.csv', sep='\t')